@model JRLMotoPecasVersionSENAC.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}


<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2>Cadastrar Funcionário</h2>
                <hr class="colorgraph">
                <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="Nome" type="text" name="Nome" id="Nome" class="form-control input-lg" placeholder="Nome" tabindex="1">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="Sobrenome" input type="text" name="Sobrenome" id="Sobrenome" class="form-control input-lg" placeholder="Sobrenome" tabindex="2">
                            <span asp-validation-for="Sobrenome" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="date" asp-for="DataNascimento" name="DataNascimento" id="DataNascimento" class="form-control input-lg" tabindex="3">
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="text" asp-for="CPF" name="CPF" id="CPF" class="form-control input-lg" placeholder="CPF" tabindex="4">
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="RG" name="RG" id="RG" class="form-control input-lg" placeholder="RG" tabindex="5">
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="email" asp-for="Email" name="Email" id="Email" class="form-control input-lg" placeholder="Email" tabindex="6">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="text" asp-for="Telefone" name="Telefone" id="Telefone" class="form-control input-lg" placeholder="Telefone" tabindex="7">
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="text" asp-for="Celular" name="Celular" id="Celular" class="form-control input-lg" placeholder="Celular" tabindex="8">
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
</div>


                <hr class="colorgraph">

                    <div class="row">

                        <div class="col-xs-5 col-md-4"><a asp-action="Index"  class="btn btn-primary btn-block btn-lg" tabindex="8">Cancelar</a></div>
                        <div class="col-xs-5 col-md-4"><input type="submit" value="Cadastrar" class="btn btn-success btn-block btn-lg" /></div>

                    </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
