@model JRLMotoPecasVersionSENAC.Models.Venda

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCompra" class="control-label"></label>
                <input asp-for="DataCompra" class="form-control" />
                <span asp-validation-for="DataCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCompra" class="control-label"></label>
                <input asp-for="TotalCompra" class="form-control" />
                <span asp-validation-for="TotalCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAtual" class="control-label"></label>
                <input asp-for="EstadoAtual" class="form-control" />
                <span asp-validation-for="EstadoAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
